.container_left {
    display: flex;
    flex-direction: column;
}

.balloon2 {
    transform: scaleX(-1);
}

.profilePlayer2 {
    align-self: flex-end;
    
}

.containerPlay2 {
    background-color: crimson;
    position: absolute;
    top: 80px;
    left: 150px;
    width: 100px;
    height: 100px;
}