.container_left {
    display: flex;
    flex-direction: column;
}

.bothBalloons {
    /* background-color: yellowgreen; */
    width: 407px;
    height: 80%;
    display: inline-flex;
    position: relative;
}

.balloon_player1 {

}

.profileContainer {
    align-self: flex-start;
}