* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
  background-color: #9CCDFB;
  height: 100vh;
}

h1 {
  font-family: 'Just Me Again Down Here', cursive;
  font-size: 5rem;
  font-weight: 400;
  letter-spacing: 20px;
  margin-top: 0;
}






/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Just+Me+Again+Down+Here&display=swap');
