.profileContainer {
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 0 50px;
    
    font-family: 'Just Me Again Down Here', cursive;
    background-color: brown;
}

.nameContainer {
    margin: 0 40px;
}

.profileName {
    font-size: 64px;
}

.profilePoints {
    font-size: 40px;
    line-height: 12px;
}